In [2]:
import sqlite3 
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd 
import seaborn as sns

In [23]:
conn = sqlite3.connect('spider.sqlite')
# cur = conn.cursor()
 
# cur.execute('''Select Count(from_id) as inbound, to_id, old_rank, new_rank, url, id 
# From Pages join Links on Pages.id = Links.to_id Where html is not null
# group by id order by inbound Desc''')

# for row in cur:
#     print(row)

SQL_query = pd.read_sql_query('''Select id, url, old_rank, new_rank, Count(from_id) as inbound 
                    From Pages join Links on Pages.id = Links.to_id Where html is not null
                    group by id order by inbound Desc''', conn)
df = pd.DataFrame(SQL_query, columns = ['id' , 'url', 'old_rank',
                                            'new_rank','inbound'])
df.head(10)

,id,url,old_rank,new_rank,inbound
0,1,https://ateebwritings.wordpress.com,1.0,1.609272,39
1,8,https://ateebwritings.wordpress.com/2020/10/23...,1.0,0.476821,25
2,9,https://ateebwritings.wordpress.com/2020/10/23...,1.0,0.417219,24
3,5,https://ateebwritings.wordpress.com/2020/10/23...,1.0,0.417219,24
4,3,https://ateebwritings.wordpress.com/about,1.0,1.609272,20
5,4,https://ateebwritings.wordpress.com/contact,1.0,1.609272,19
6,2,https://ateebwritings.wordpress.com/blog,1.0,1.907285,19
7,7,https://ateebwritings.wordpress.com/category/u...,1.0,0.476821,16
8,6,https://ateebwritings.wordpress.com/author/ate...,1.0,0.476821,16